{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- description -->
    <section class="description">
        <div class="container">
            <div class="flex d-flex justify-content-around flex-wrap">
                <div class="summary">
                  <h2>{{courses.name}}</h2>
                    <div class="top d-flex justify-content-around">
                        <div class="review">
                            <h3>Review</h3>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                        <div class="">
                            <hr class="vertical">
                        </div>
                        <div class="category-heading">
                            <h3>Category</h3>
                            <h5>{{courses.category.name}}</h5>
                        </div>
                    </div>

                    <div class="course-description mt-3">
                        <img class="card-img-top" src="{{courses.images.url}}" alt="Card image cap">
                        <div class="columns">
                            <div class="mt-5 d-flex ">
                            <div class="list-group list-group-horizontal" id="list-tab" role="tablist">
                                <a class="list-group-item list-group-item-action active activity  mr-2" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Description</a>
                                <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Review</a>
                            </div>
                            </div>
                            <div class="border p-4">
                            <div class="tab-content" id="nav-tabContent">
                                <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">{{courses.description | safe}}</div>
                                <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique incidunt iure, tenetur enim optio iusto nam. Iste magni assumenda facilis blanditiis maiores aperiam ab amet nostrum laborum at neque hic, consequatur incidunt delectus possimus ullam? Illo esse dignissimos adipisci ducimus. Laboriosam doloribus itaque, explicabo minima modi velit minus quam similique.</div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="category">
                    <ul class="nav flex-column list">
                        <li class="nav-item dropdown group">
                          <a class="nav-link color p-3" href="#" role="button" data-toggle="dropdown"><i class="fa fa-angle-down down" aria-hidden="true"></i> Art and Design</a>
                          <div class="dropdown-menu col-md-12" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                        </li>
                        
                        <li class="nav-item dropdown group">
                            <a class="nav-link p-3 color" href="#" role="button" data-toggle="dropdown"><i class="fa fa-angle-down down" aria-hidden="true"></i> Business</a>
                            <div class="dropdown-menu col-md-12" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item" href="#">Accounting</a>
                              <a class="dropdown-item" href="#">MAss COmmunication</a>
                          </li>
              

                          <li class="nav-item dropdown group">
                            <a class="nav-link p-3 color" href="#" role="button" data-toggle="dropdown"><i class="fa fa-angle-down down" aria-hidden="true"></i> IT & Software</a>
                            <div class="dropdown-menu col-md-12" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item" href="#">Android</a>
                              <a class="dropdown-item" href="#">Hacking</a>
                          </li>
                          

                          <li class="nav-item dropdown group">
                            <a class="nav-link p-3 color" href="#" role="button" data-toggle="dropdown"><i class="fa fa-angle-down down" aria-hidden="true"></i> Language</a>
                            <div class="dropdown-menu col-md-12" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item" href="#">Action</a>
                              <a class="dropdown-item" href="#">Another action</a>
                          </li>
                    
                          <li class="nav-item dropdown group">
                            <a class="nav-link p-3 color" href="#" role="button" data-toggle="dropdown"> <i class="fa fa-angle-down down" aria-hidden="true"></i> Programming</a>
                            <div class="dropdown-menu col-md-12" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item" href="#">Action</a>
                              <a class="dropdown-item" href="#">Another action</a>
                          </li>
                      </ul>
                      
                      <div class="take-a-quiz p-3">
                          <h2 class="take-a-quiz-heading">Take a Quiz</h2>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi, unde!</p>
                        <div class="text-center">
                      <a href="" class="btn btn-primary col-md-8 p-2 take-a-quiz-btn">Take a Quiz</a>
                        </div>
    
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- ending description -->

<!-- sign up -->
<section class="sign-up  p-4">
    <div class="container">
      <div class="signup d-flex  justify-content-around flex-wrap">
        <div class="subscribe">
          <h3 class="signup-heading">Sign up for more news and offers</h3>
          <p>subscribe to the latest smartphone news & great deal offer</p>
        </div>
        <div class="email">
            <form action=""  class="mt-3">
              <div class="input-group mb-3 ">
                <div class="">
                <input type="text" class="form-control col-xs-2" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
                </div>
              </div>
            </form>
        </div>
      </div>
    </div>
  </section>
  <!--  ending sign up-->

{% endblock content %}