<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link rel="stylesheet" href="asset/css/style.css">
    <link rel="stylesheet" href="asset/css/list.css">
    <title>Document</title>
</head>
<body>
<!-- header -->
    <header>
        <nav class="navbar  navbar-expand-lg bg-dark  fixed-top">
            <div class="container">
            <a class="navbar-brand" href="#"><span class="unique1">Cas</span>ots</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item active mr-2">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown mr-2">
                  <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Courses <i class="fa fa-angle-down down" aria-hidden="true"></i>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </li>
                <li class="nav-item mr-2">
                  <a class="nav-link" href="#" >Contact</a>
                </li>
                <li class="nav-item mr-2">
                    <a class="nav-link" href="#">About us</a>
                  </li>
                <li class="nav-item mr-2">
                <a class="nav-link" href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
                </li>
                <li class="nav-item mr-2">
                    <a class="nav-link" href="#"><i class="fa fa-user" aria-hidden="true"></i></a>
                </li>
              </ul>
            </div>
          </div>    
        </nav>
    </header>
<!-- ending header -->

<!-- breadcrumb -->
<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Library</li>
    </ol>
  </nav>
  
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item"><a href="#">Library</a></li>
      <li class="breadcrumb-item active" aria-current="page">Data</li>
    </ol>
  </nav>
</div>

<!-- ending -->
<!-- list of courses -->
<section class="list-of-courses">
    <div class="container">
        <div class="list row ">
            <div class="card col-md-4" style="width: 18rem;">
                <img class="card-img-top" src="asset/images/clement-h-95YRwf6CNw8-unsplash.jpg" alt="Card image cap">
                <div class="card-body">
                  <h3 class="card-title">Computer Science</h3>
                  <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia enim dicta quaerat illum totam exercitationem officiis nostrum autem quam. Minus odit illo cupiditate deserunt eius tempore officiis vero ipsum reprehenderit rem blanditiis ea, consectetur veniam nihil libero consequatur corrupti, ducimus cumque. Error reprehenderit commodi soluta, veritatis numquam magni dolor!</p>
                  <a href="#" class="btn btn-primary">View More</a>
                </div>
              </div>
              <div class="card col-md-4" style="width: 18rem;">
                <img class="card-img-top" src="asset/images/clement-h-95YRwf6CNw8-unsplash.jpg" alt="Card image cap">
                <div class="card-body">
                  <h3 class="card-title">Computer Engineering</h3>
                  <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit officia iste, et similique in molestiae adipisci eaque, possimus explicabo sed aspernatur! Modi soluta ex aliquam. Accusantium esse, non, porro animi ratione necessitatibus incidunt maiores, earum illo accusamus blanditiis aut quos? Cupiditate eveniet asperiores soluta ratione similique doloremque, corporis blanditiis.</p>
                  <a href="#" class="btn btn-primary">View More</a>
                </div>
              </div>
              <div class="card col-md-4" style="width: 18rem;">
                <img class="card-img-top p-2" src="asset/images/clement-h-95YRwf6CNw8-unsplash.jpg" alt="Card image cap">
                <div class="card-body">
                  <h3 class="card-title">Mass Communication</h3>
                  <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos, ipsum possimus laboriosam tenetur explicabo accusantium laudantium eum eius! Iste error eos vero accusantium voluptatibus ratione nostrum, debitis deserunt ipsam expedita deleniti quisquam architecto voluptate. Quas autem repellendus repellat laudantium vitae nihil voluptates odio. Porro voluptatem esse consequuntur iste quidem.</p>
                  <a href="#" class="btn btn-primary">View More</a>
                </div>
              </div>
              <div class="card col-md-4" style="width: 18rem;">
                <img class="card-img-top" src="asset/images/clement-h-95YRwf6CNw8-unsplash.jpg" alt="Card image cap">
                <div class="card-body">
                  <h3 class="card-title">Law</h3>
                  <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo corporis, sit commodi aut, accusantium eius ipsum in tenetur facilis similique animi. Repellat maxime perspiciatis non temporibus magnam! Nemo ex hic odio doloremque maxime quisquam dolorum ipsa sed quam illo unde sit, vero quasi. A rem cupiditate repellendus ratione facere!</p>
                  <a href="#" class="btn btn-primary">View More</a>
                </div>
              </div>
              <div class="card col-md-4" style="width: 18rem;">
                <img class="card-img-top" src="asset/images/clement-h-95YRwf6CNw8-unsplash.jpg" alt="Card image cap">
                <div class="card-body">
                  <h3 class="card-title">Mechanical Engineering</h3>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur at fuga eum saepe eveniet voluptatibus illo nobis rem, dolore quod? Saepe, at? Numquam beatae, labore rerum voluptatem enim incidunt, in doloribus necessitatibus fugiat laborum possimus sequi dicta nisi architecto consequatur cupiditate dolorem ab quibusdam? Eveniet minus necessitatibus saepe dolorum!</p>
                  <a href="#" class="btn btn-primary">View More</a>
                </div>
              </div>
              <div class="card col-md-4" style="width: 18rem;">
                <img class="card-img-top" src="asset/images/clement-h-95YRwf6CNw8-unsplash.jpg" alt="Card image cap">
                <div class="card-body">
                  <h3 class="card-title">Accounting</h3>
                  <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae asperiores vitae dolores! Repudiandae tempore eaque recusandae, tenetur neque pariatur temporibus minima reprehenderit omnis facilis officia deserunt nesciunt quo corrupti! Laboriosam ex sapiente assumenda perferendis nisi alias dolore, ullam repellendus soluta, tempore velit excepturi pariatur officia error suscipit dolorum illo?</p>
                  <a href="#" class="btn btn-primary">View More</a>
                </div>
              </div>
        </div>
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#">Next</a>
            </li>
          </ul>
        </nav>
    </div>
</section>
<!--ending of list of courses -->

<!-- sign up -->
<section class="sign-up">
  <div class="container">
    <div class="signup">
      <div class="subscribe">
        <h1>sign up for more news and offer</h1>
        <p>subscribe to the latest smartphone news & great deal offer</p>
      </div>
      <div class="email">
          <form action="">
            <div class="input-group mb-3 row col-xs-2">
              <div class="col-xs-2">
              <input type="text" class="form-control col-xs-2" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
              </div>
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button">Button</button>
              </div>
            </div>
          
          </form>
      </div>
    </div>
  </div>
</section>
<!--  ending sign up-->
  
<!-- footer -->
<footer class="footer-credit mt-5">
    <div class="container d-flex  flex-wrap justify-content-between mt-5" >
      
      <div class="quick-links mt-4">
        <h3 class="footer-heading">Quick Links</h3>
        <div class="links flex-column d-flex mt-3">
          <a href="" class="footer-links">Home</a>
          <a href="" class="footer-links">Courses</a>
          <a href="" class="footer-links">Contact</a>
          <a href="" class="footer-links">About</a>
        </div>
      </div>
  
      <div class="resourcs mt-4">
        <h3 class="footer-heading">Resources</h3>
        <div class="links flex-column d-flex mt-3">
          <a href="" class="footer-links">Guides</a>
          <a href="" class="footer-links">Research</a>
          <a href="" class="footer-links">Experts</a>
          <a href="" class="footer-links">Agencies</a>
        </div>
      </div>
  
      <div class="newsletter mt-4">
        <h3 class="footer-heading">Newsletter</h3>
        <span>you can try us</span>
        <div class="mt-3 ">
          <form action="">
            <input type="text">
            <i class="fa fa-send-o" aria-hidden="true"></i>
          </form>
        </div>
      </div>
  
      <div class="social-icons mt-4">
        <div class="links row mt-3">
          <a href=""><div class="icon col-md-6"><i class="fab fa-facebook-f footer-icon " aria-hidden="true"></i></div></a>
          <a href=""><div class="icon col-md-6"><i class="fab fa-twitter footer-icon " aria-hidden="true"></i></div></a>
          <a href=""><div class="icon"><i class="fas fa-baseball-ball footer-icon "></i></div></a>
          <a href=""><div class="icon"><i class="fab fa-linkedin-in footer-icon " aria-hidden="true"></i></div></a>
        </div>
      </div>
    </div>
  
  </footer>
<!-- footer ending -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
<script src ='asset/js/sticky.js'></script>
</body>
</html>